<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      	xmlns:context="http://www.springframework.org/schema/context"
      	xmlns:aop="http://www.springframework.org/schema/aop"
       	xmlns:tx="http://www.springframework.org/schema/tx"
       	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		">
	<bean id="empAction" class="cn.aurora.crm.hr.emp.web.EmpAction">
		<property name="empEbi" ref="empEbi"></property>
	</bean>
	
	<bean id="empEbi" class="cn.aurora.crm.hr.emp.business.ebo.EmpEbo">
		<property name="empDao" ref="empDao"></property>
	</bean>
	
	<bean id="empDao" class="cn.aurora.crm.hr.emp.dao.impl.EmpImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>